body {
    background-color: rgb(225, 225, 225); 
    color: black;
}

.wrapper-main{
    background-color: white;
}

.link-main {
    color: black;
}

.link-main:hover {
    color: rgb(13, 13, 13);
}
