#body-white {
    background-color: rgb(237, 237, 237); 
    color: black;
}

.wrapper-main-white{
    background-color: white;
    width: 75%;
    margin: 0 auto;
    display: block;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 15px;
    box-shadow: 2.5px 5px rgba(0, 0, 0, 0.614);
    transition: all 0.3s ease-in-out;
}

.wrapper-main-white:hover {
    transform: scale(1.01);
}
.text-container-white {
    text-align: center;
    align-items: center;
    align-content: center;
}

.text-container-white span {
    display: block;
}

.text-container-white span:hover {
    text-decoration: underline;
}

.paragraph-container-white {
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.paragraph-container-white span {
    font-size: 15px;
    font-weight: 500;
    display: block;
    padding-top: 1%;
    padding-bottom: 1%;
}

.list-container-white {
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.list-container-white li {
    font-size: 15px;
    font-weight: 500;
    display: list-item;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.list-container-white li:hover {
    text-decoration: underline;
}

.link-main-white {
    color: black;
    text-decoration: none;
}
