body {
    background-color: rgb(26, 25, 25); 
    color: white;
}

.wrapper-main-black{
    background-color: rgb(15, 15, 15);
    width: 75%;
    margin: 0 auto;
    display: block;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.614);
    transition: all 0.3s ease-in-out;
}

.wrapper-main-black:hover {
    transform: scale(1.1);
}
