body {
    background-color: rgb(26, 25, 25); 
    color: white;
}


.wrapper-main{
    background-color: rgb(14, 14, 14);
}

.link-main {
    color: white;
}

.link-main:hover {
    color: rgb(242, 242, 242);
}

#search-input {
    background-color: transparent;
    color: white;
}
