body {
    font-family: system-ui;
}

.container-main {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    align-items: center;
    text-align: center;    
}

.title-text {
    font-weight: 700;
    font-size: 25px;
}

.sub-title-text {
    font-weight: 700;
    font-size: 20px;
}

.underline {
    text-decoration: underline;
}

.inline-block {
    display: inline-block;
}

